.nav {
    grid-area: n;
    background-color: #FFFFFF;
    padding: 10px;
}

.item a {
    text-decoration: none;
}

.active {
    color: #998700;
}

.item {
    text-align: center;
    color: black;
}

.item:hover {
    color:#998700;
    transition: color .1s;

}
