/*fuck*/
.app-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    width: 80%;
    margin-top: 20px;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    /*overflow: auto;*/
    max-width: 100%;
    border-bottom-right-radius: 10%;
    box-sizing: border-box;
    grid-area: c;
    background-color: #FFFFFF;
}





