.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(171,171,171);
    background: linear-gradient(180deg, rgba(171,171,171,1) 0%, rgba(201,201,201,1) 100%);
}

.dialog a {
    color: black;
    text-decoration: none;
}
.dialogs a:hover {
    color:#998700;
    transition: color .1s;
}

.messages {
    padding: 10px;
}

.message {

}

.active {
    color: gold;
}



